.about-us {
  margin: 0 auto;
  position: relative;
  padding-top: 73px;

  &__shadow {
    position: absolute;
    top: -350px;
    pointer-events: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  &__text {
    &-title {
      font-family: "Abhaya Libre";
      font-size: 96px;
      font-weight: 800;
      line-height: 77px;
      background: linear-gradient(90deg, #d6a654, #ffe0ab, #ffe5b9, #ffd389);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      margin-bottom: 20px;
    }

    &-paragraph1,
    &-paragraph2 {
      font-family: "Saira";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #ffffff;
      margin-bottom: 32px;
      max-width: 709px;
    }
    &-paragraph2 {
      max-width: 486px;
      margin-bottom: 56px;
    }
  }

  &__video-container {
    z-index: 1;
    position: relative;
    margin-top: 42px;
  }

  &__services {
    padding-top: 56px;

    &-title {
      font-family: "Abhaya Libre";
      font-size: 96px;
      font-weight: 800;
      line-height: 77px;

      background: linear-gradient(90deg, #d6a654, #ffe0ab, #ffe5b9, #ffd389);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

      max-width: 691px;
      margin-bottom: 20px;
    }

    &-description {
      font-family: "Saira";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #ffffff;

      max-width: 709px;
    }
  }
}

.video-container {
  position: relative;
  border-radius: 16px;
  padding: 1px;

  width: 362px;

  background: linear-gradient(135deg, #ff8008, #ffc837);
  background-clip: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border-radius: 16px;
    z-index: -1;
  }

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
  }
}
