.initial {
  max-width: 1200px;
  width: calc(100% - 32px);
  margin: 45px auto 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (max-width: 820px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &-cointar-text {
    display: flex;
    flex-direction: column;
  }

  &__form {
    width: 100%;
    @media (min-width: 820px) {
      max-width: 444px;
    }
  }

  &__span {
    font-family: Saira;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  &__title {
    font-family: Abhaya Libre;
    font-size: 70px;
    font-weight: 800;
    line-height: 76px;

    background: linear-gradient(90deg, #d6a654, #ffe0ab, #ffe5b9, #ffd389);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    max-width: 500px;
    margin-bottom: 32px;

    @media (min-width: 520px) {
      font-size: 96px;
    }
  }

  &__paragraph {
    font-family: Saira;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    color: #ffffff;

    margin-bottom: 72px;

    @media (min-width: 820px) {
      max-width: 341px;
    }
  }

  &__button {
    width: 169px;
    height: 53px;
    border-radius: 40px;
    background: #ffffff;

    color: #16121e;
    font-family: Saira;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
