.jorney {
  background: url(../assets/stars.png) no-repeat;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 32px);
    padding-top: 68px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: Abhaya Libre ExtraBold;
    font-size: 96px;
    font-weight: 800;
    line-height: 77px;
    text-align: center;

    background: linear-gradient(90deg, #d6a654, #ffe0ab, #ffe5b9, #ffd389);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    margin-bottom: 32px;
    max-width: 1090px;
  }

  &__description {
    font-family: Saira;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #ffffff;

    max-width: 813px;
    margin-bottom: 45px;
  }
}
