.roadmapsection {
  & {
    margin-bottom: 65px;
  }
}

.roadmapwrapper {
  display: flex;
  justify-content: center;

  &__line {
    width: 196px;
    height: 5px;

    border-radius: 10px;
    border: none;

    transform: translateY(26px);

    background: linear-gradient(90deg, rgba(255, 128, 8, 1) 50%, rgba(255, 200, 55, 1) 100%);
  }

  &-first {
    margin-bottom: 65px;
  }
}

.roadmapcard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__number {
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: #d6a654;
  }

  &__title {
    font-family: Abhaya Libre;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    text-align: center;
    color: #ffffff;

    margin-bottom: 6px;
  }

  &__description {
    font-family: Saira;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    max-width: 241px;
  }
}
